{% extends 'base.html' %}
{% block content %}
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scopr="col">Total Cost</th>
      </tr>
    </thead>
    <tbody>
        {% for i in c %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{i.product}}</td>
        <td>{{i.price}}</td>
        <td>{{i.quantity}}</td>
        <td>{{i.total}}</td>
        <td>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="item_id" value="{{i.id}}">
            <input class="btn btn-danger" type="submit" name="delete" value="Delete">
        </from>
    </td>
      </tr>
      {% endfor %}
    </tbody>
  </table><br>
  Total: {{t}}<br>
  <br>
  <a class="btn btn-secondary" href="{% url 'myapp:order' % }">Order</a>
  &nbsp;&nbsp;&nbsp;
  <a class="btn btn-secondary" herf="{% url 'myapp:index' %}">Back/Continue</a>
  {% endblock %}
